<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    username: <b>{{login.username}}</b>
    <h2>{{title}}</h2>
    <h5>{{questionUser.username}}</h5>
    text:
    <hr>
    <blockquote>{{text}}</blockquote>
    <hr>
    <!-- {%if form%} -->

    <form action="{{id}}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- {%endif%} -->
    <ul>
        {% for ans in answer %}
        <li>{{ans.author}}: <br>
            ({{ans.added_at}})<br>
            text: {{ans.text}}
        </li>
        {% endfor %}
    </ul>

</body>

</html>