<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>{{title}}</h2>
    <hr>
    <blockquote>{{text}}</blockquote>
    <hr>

    <form action="{{id}}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <!-- {%for field in form %}
        <div class="form-group ">
            <label for="title">{{field.label}}</label>
            <br>
            {{field}}
        </div>
        {%endfor%} -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <ul>
        {% for ans in answer %}
        <li>{{ans.text}}</li>
        {% endfor %}
    </ul>

</body>

</html>